[data-theme="gruvbox"] {
  --t-bg: #282828;
  --t-surface: #3c3836;
  --t-surface-2: #504945;
  --t-border: #665c54;
  --t-text: #ebdbb2;
  --t-text-dim: #bdae93;
  --t-accent: #fabd2f;
  --t-muted: #928374;
  --t-danger: #fb4934;
  --t-good: #b8bb26;
}

[data-theme="gruvbox-light"] {
  --t-bg: #fbf1c7;
  --t-surface: #f2e5bc;
  --t-surface-2: #ebdbb2;
  --t-border: #d5c4a1;
  --t-text: #3c3836;
  --t-text-dim: #665c54;
  --t-accent: #b57614;
  --t-muted: #928374;
  --t-danger: #cc241d;
  --t-good: #79740e;
}
